
  /* Estilos para productos */
  .container_productos {
    min-height: 40vh;
  }

  .container_productos--detalle{
    display: block;
  }
  
  .container_productos--detalle span{
    font-weight: 600;
  }
  
  .ocultar{
    display: none;
  }